<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-column">
            <h3 class="toggle">Shop</h3>
            <ul>
                <li><a href="#">Promotion &amp; Offers</a></li>
                <li><a href="#">Charms</a></li>
                <li><a href="#">Bracelets</a></li>
                <li><a href="#">Rings</a></li>
                <li><a href="#">Necklaces &amp; Pendants</a></li>
                <li><a href="#">Earrings</a></li>
                <li><a href="#">Lab-Grown Diamonds</a></li>
                <li><a href="#">Golden Triumph Collections</a></li>
                <li><a href="#">Gifts</a></li>
                <li><a href="#">Gift Cards</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="toggle">Customer Service</h3>
            <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Size Guide</a></li>
                <li><a href="#">Product Care</a></li>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Online &amp; Instore Prices</a></li>
                <li><a href="#">Our Response to COVID-19</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="toggle">Services</h3>
            <ul>
                <li><a href="#">All Services &amp; Offerings</a></li>
                <li><a href="#">Afterpay</a></li>
                <li><a href="#">Buy Online Pick Up In-Store</a></li>
                <li><a href="#">Personalized Engraving</a></li>
                <li><a href="#">Klarna</a></li>
                <li><a href="#">Golden Triumph Credit Card</a></li>
                <li><a href="#">Student Discount Program</a></li>
                <li><a href="#">Supporting Heroes</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="toggle">Manage</h3>
            <ul>
                <li><a href="#">My Golden Triumph</a></li>
                <li><a href="#">My Order Status</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">My Details</a></li>
                <li><a href="#">My Orders</a></li>
                <li><a href="#">Wish list</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3 class="toggle">About Us</h3>
            <ul>
                <li><a href="#">About Golden Triumph</a></li>
                <li><a href="#">Golden Triumph Company</a></li>
                <li><a href="#">Store Locator</a></li>
                <li><a href="#">Authorized Golden Triumph Online Retailers</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">My Golden Triumph Terms and Conditions</a></li>
                <li><a href="#">Transparency in Supply Chains</a></li>
                <li><a href="#">California Supply Chains Act</a></li>
                <li><a href="#">Do Not Sell or Share My Personal Information</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Cookies settings</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Privacy Rights Request</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; ALL RIGHTS RESERVED. 2024 Golden Triumph</p>
        <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>