<header>
    <div class="logo">
    <a href="#" ><img src="/images/logo.png" alt="logo"></a>
    </div>
    <div class = "nav">
        <ul class="navbar">
            <li><a class="underline" href="/" target="_blank">Home</a></li>
            <li><a class="underline" href="/men" target="_blank">Men</a></li>
            <li><a class="underline" href="/women" target="_blank">Women</a></li>
            <li><a class="underline" href="/about" target="_blank">About Us</a></li>
            <li><a class="underline" href="/contact" target="_blank">Contact Us</a></li>
            <li id="non"><a class="underline" href="/cart" target="_blank"><i class="fa-solid fa-bag-shopping"></i> <span> (0) </span></a></li>
            <li id="non" class="form"><a href="/form"><i class="fa-solid fa-user"></i></a></li>
            <a href="#" class="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
    </div>
    <div class="mobile">
        <a class="cart" href="/cart" target="_blank"><i class="fa-solid fa-bag-shopping"></i> <span> (0) </span></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</header>